@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
 
:root {
    --color-invalid-input: #b22222;
    --color-focus-input: #6495ed;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #15202b;
    display: flex;
    justify-content: center;
}

.container {
    width: max(5rem, 50vw, 1000px);
    height: 100vh;
    background-color: #E5E7EB;
    display: flex;
}

@media screen and (max-width: 600px){
    .left-side {
        display: none;
    }
}

.left-side {
    background-image: url("img/leftside.jpg");
    background-size: 100% 100%;
    width: 75vw;
    height: 100vh;
    vertical-align: middle;
}

.photoCred {
    font-family: Roboto;
    font-size: 0.7rem;
    color: azure;
    position: sticky;
    text-align: right;
    padding-right: 0.5rem;
    top: 98%;
}

.logo {
    background-color: rgba(0,0,0,0.2);
    width: auto;
    height: 150px;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotext {
    color: aliceblue;
    font-family: Shadows Into Light;
    font-size: 4rem;
}

img {
    height: 70%;
}

.right-side {
    margin-top: 4rem;
}

.right-top p {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
}

span {
    font-size: 0.8rem;
}

h2 {
    width: 100%;
}

.middle {
    background-color: white;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.middle > div {
    padding-right: 4rem;
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 3px;
    padding-left: 6px;
}

input:focus {
    outline: none;
    border-color: var(--color-focus-input);
    box-shadow: 1.0px 2.0px 2.0px rgba(0,0,0,0.38);
}

#hidden {
    color: var(--color-invalid-input);
    padding-top: 1px;
    font-size: 0.8rem;
}

.hidden {
    display: none;
}

.error {
    outline: none;
    border-color: var(--color-invalid-input);
}

button {
    background-color: #6495ed;
    color: #E5E7EB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    box-shadow: 1.0px 2.0px 2.0px rgba(0,0,0,0.38);
}

.bottom {
    padding-left: 2rem;
    padding-top: 1.8rem;
}

a {
    text-decoration: none;
    color: #4169e1;
    font-weight: 700;
}

a:hover {
    color: var(--color-focus-input);
}


